<!doctype html>
<html lang="en">
<head>
	<title>商机平台</title>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
	<link rel="icon" type="shortcut icon" sizes="32x32" href="./assets/images/icon.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta name="format-detection" content="email=no">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.4"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
	<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
	<script>var ver="201712291527",script=document.createElement("script");script.src="../ver.js?"+((new Date).getTime()+"").substr(0,8),document.head.appendChild(script),script.onload=function(){checkVer(ver)};</script>
</head>
<body>
<div id="app"></div>
<script src="./config.test.js"></script>


</body>
</html>
