<!doctype html>
<html lang="en">
<head>
	<title>{$PAGE_TITLE}</title>
	<meta charset="utf-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,user-scalable=no">
	<link rel="icon" type="shortcut icon" sizes="32x32" href="./assets/images/ico.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	{$EXTENDS_HEAD}
	{$SCRIPT_VER}
</head>
<body>
<div id="app"></div>
<script src="./config.test.js"></script>
{$SCRIPT_LIBS}
{$EXTENDS_BODY}
</body>
</html>
{$EXTENDS_HTML}