html, body, .view {
  min-height: 100%;
  height: 100%;
  min-width: 1200px;
}

input::-moz-placeholder {
  color: #cccccc;
  //text-shadow: none;
  opacity: 1;
  -webkit-text-fill-color: initial;
}

input::-webkit-input-placeholder {
  //text-shadow: none;
  -webkit-text-fill-color: initial;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.ani-time {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

.color {
  color: #00c9cb;
}

.disbale-btn {
  pointer-events: none;
  cursor: default;
}

.left {
  float: left;
}

.right {
  float: right;
}

.is-transformed {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input {
  border: none;
  color: #000000;
}

.draw-line {
  position: relative;
  cursor: pointer;
  color: #61a4de;
  &:after {
    width: 0;
    content: "";
    bottom: 0;
    z-index: 99;
    position: absolute;
    left: 0;
    height: 1px;
    background: #2c85d3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
  }
  &:hover {
    color: #2c85d3;
    &:after {
      width: 100%;
    }
  }
}

.bg-overplay {
  background: rgba(0, 0, 0, .4);
}

.bg-high-overplay {
  background: rgba(0, 0, 0, .7);
}

.bg-deep-overplay {
  background: rgba(50, 50, 50, 0.7);
}

.bg-yellow {
  background: #ee4d2a;
}

.bg-light-green {
  background: #7cc576;
}

.border-gray {
  border: 1px solid #dddddd;
}

.border-table {
  border: 1px solid #efefef;
}

.border-gray-light {
  border: 1px solid #eaeaea;
}

.gray-shadow {
  -moz-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.iscroll-ref::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #1d1d1d;
}

/*定义滚动条轨道 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #1d1d1d;
}

/*定义滑块 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #07abad;
  background-color: #555555;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.sideInTop-enter-active, .sideInTop-leave-active {
  transition: all .4s
}

.sideInTop-enter, .sideInTop-leave-to /* .fade-leave-active in below version 2.1.8 */
{
  opacity: 0;
}

.sideInTop-enter-active .pop-content {
  animation-name: sideInTop-in;
  animation-duration: .4s;
  animation-timing-function: ease;
}

.sideInTop-leave-active .pop-content {
  animation-name: sideInTop-out;
  animation-duration: .4s;
  animation-timing-function: ease;
}

@keyframes sideInTop-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -moz-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@-webkit-keyframes sideInTop-in {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -moz-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes sideInTop-out {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -moz-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100% 0);
  }
}

@-webkit-keyframes sideInTop-out {
  0% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(-50%, -100%, 0);
    -moz-transform: translate3d(-50%, -100%, 0);
    -ms-transform: translate3d(-50%, -100%, 0);
    transform: translate3d(-50%, -100% 0);
  }
}

.clear {
  &:before {
    display: table;
    content: " ";
  }
  &:after {
    display: table;
    content: " ";
    clear: both;
  }
}

.show-page {
  margin-top: 34px;
}

.icon-trangle {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 11px;
  display: inline-block;
  border-top: 10px solid #666666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  transition: transform .2s;
  transform: rotate(0deg);
}

.rotate {
  transform: rotate(180deg);
}

.table-content {
  padding-top: 24px;
  font-size: 14px;
  .inner-table {
    width: 100%;
    border-collapse: collapse;
    tr {
      border: 1px solid #efefef;
      height: 56px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      &:hover {
        background: #fdf4f5;
      }
      th {
        &:last-child {
          min-width: 110px;
        }
      }
      td {
        color: #404040;
        &:last-child {
          min-width: 110px;
        }
      }
      .draw-tick {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-left: 26px;
        vertical-align: middle;
        &:after, &:before {
          content: '';
          font-family: helvetica;
          display: inline-block;
          width: 18px;
          height: 18px;
          left: 0;
          position: absolute;
          bottom: 0;
          text-align: center;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        &:before {
          border: 1px solid #cccccc;
          background-color: #ffffff;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
        &:after {
          color: #ffffff;
          content: "\2713";
          line-height: 18px;
          font-size: 14px;
        }
        &:hover {
          &:after {
            color: #c7c7c7;
          }
        }
        &.action {
          &:before {
            border: 1px solid #f36478;
            -moz-box-shadow: inset 0 0 0 9px #f36478;
            -webkit-box-shadow: inset 0 0 0 9px #f36478;
            box-shadow: inset 0 0 0 9px #f36478;
          }
          &:after {
            color: #ffffff;
          }

        }
      }
      .rank-num {
        display: inline-block;
        padding-left: 30px;
        height: 18px;
        line-height: 18px;
      }
      .wait-pick {
        color: #8de1c1;
      }
      .action-menu {
        padding-right: 35%;
        text-align: right;
        span {
          color: #61a4de;
          position: relative;
          &:hover {
            color: #2c85d3;

          }
        }
        span:nth-of-type(2) {
          text-align: right;
          .delete-pop {
            right: -18px;
            top: -132px;
            z-index: 5;
            width: 268px;
            height: 118px;
            background: #ffffff;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            &:before {
              position: absolute;
              content: "";
              height: 12px;
              width: 12px;
              bottom: -6px;
              right: 25px;
              overflow: hidden;
              background-color: #ffffff;
              pointer-events: none;
              transform: rotate(-135deg);
              z-index: -1;
              border-top: 1px solid rgba(0, 0, 0, 0.25);
              border-left: 1px solid rgba(0, 0, 0, 0.25);
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
            }
            .sure-content {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              cursor: default;
              background-color: #ffffff;
              .quesiton-txt {
                height: 62px;
                line-height: 62px;
                padding: 0 0 6px 28px;
                vertical-align: middle;
                text-align: left;
                img {
                  display: inline-block;
                  vertical-align: middle;
                }
                span {
                  display: inline-block;
                  padding-left: 14px;
                  vertical-align: middle;
                  height: 62px;
                  line-height: 62px;
                  font-size: 14px;
                  color: #333333;
                }

              }

            }
          }
        }
      }
      .is-picked {
        color: #f2808b;
      }
    }
    thead {
      tr {
        background: #f7fbfc;
        &:hover {
          background: #f7fbfc;
        }

      }
    }
  }
}

.btn-wrap {
  padding-right: 8px;
  .action-btn {
    margin-right: 24px;
    width: 48px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    color: #333333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  .cancel-btn {
    border: 1px solid #dddddd;
    background: #f8f8f8;
    &:hover {
      border: 1px solid #cccccc
    }
  }
  .delete-btn {
    border: 1px solid transparent;
    background: #ed5564;
    color: #ffffff;
    &:hover {
      background: #f5374a;
    }
  }
  .pop-del-btn {
    width: 90px;
    height: 36px;
    line-height: 36px;
  }
}

.action-box {
  margin-left: 35px;
  line-height: 32px;
  height: 32px;
  margin-right: 10px;
  vertical-align: middle;
  i {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #dddddd;
    box-shadow: inset 0 0 0 7px #f1f1f1;
    -webkit-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    &.action {
      border: 1px solid #ed5564;
      box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 7px #ed5564;

    }
  }
  span {
    display: inline-block;
    line-height: 32px;
    height: 32px;
    vertical-align: middle;
    padding-left: 12px;
    font-size: 14px;
  }

}

.personal-message {
  .personal-form {
    margin-top: 18px;
    height: auto;
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    .personal-title {
      width: 90px;
      height: 40px;
      line-height: 40px;
      text-align: right;
      display: inline-block;
      margin-right: 30px;
      font-size: 14px;
    }
    .personal-content {
      font-size: 14px;
      height: 40px;
      line-height: 40px;
    }
    .pensonal-input {
      width: 240px;
    }
    .code {
      width: 124px;
    }
    .btn-send {
      display: inline-block;
      height: 40px;
      width: 96px;
      line-height: 40px;
      text-align: center;
      border-radius: 4px;
      margin-left: 20px;
      color: #666666;
      background: #f4f4f4;
    }
    .bind-phone {
      color: #fe6e05;
      margin-left: 12px;
    }
    .note {
      //width: 948px;
      width: 86%;
    }
  }
  .personal-title {
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
  }
  .personal-content {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
  }
  .pensonal-input {
    width: 240px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 0 2px #f5f5f5 inset;
    padding: 0 12px;
    box-sizing: border-box;
  }
  .code {
    width: 124px;
  }
  .btn-send {
    display: inline-block;
    height: 40px;
    width: 96px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
    margin-left: 20px;
    color: #666666;
    background: #f4f4f4;
  }
  .bind-phone {
    color: #fe6e05;
    margin-left: 12px;
  }
  .note {
    //width: 948px;
    width: 86%;
  }
}

.btn-save {
  width: 160px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: #ed5564;
  color: #ffffff;
  border-radius: 4px;
  margin: 40px 0 0 120px;
}

//}

.form-list {
  width: 240px;
  height: 40px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 0 12px;
  box-sizing: border-box;
  .drop-list {
    top: 100%;
    left: -1px;
    width: 100%;
    border: 1px solid #dddddd;
    z-index: 2;
    background: #ffffff;
    li {
      height: 40px;
      line-height: 40px;
      padding: 0 12px;
      border-bottom: 1px solid #dddddd;
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.upload-box {
  width: 240px;
  height: 180px;
  background: #f4f4f4;
  border-radius: 4px;
  margin-right: 30px;
  .input-file {
    width: 240px;
    height: 180px;
    color: transparent;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
  }
  .upload-btn {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .upload-text {
      color: #666666;
      margin-top: 15px;
      font-size: 16px;
      text-align: center;
      span {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
  .del-img {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 5;
    display: none;
  }
  &:hover {
    .del-img {
      display: block;
    }
  }
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}