html, body, .view {
  min-height: 100%;
}

input::-moz-placeholder {
  color: #cccccc;
  //text-shadow: none;
  opacity: 1;
  -webkit-text-fill-color: initial;
}

input::-webkit-input-placeholder {
  //text-shadow: none;
  -webkit-text-fill-color: initial;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.ani-time {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.pointer {
  cursor: pointer;
}

.color {
  color: #00c9cb;
}

.disbale-btn {
  pointer-events: none;
  cursor: default;
}

.left {
  float: left;
}

.right {
  float: right;
}

.is-transformed {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-flex {
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input {
  border: none;
  color: #000000;
}

.bg-overplay {
  background: rgba(0, 0, 0, .4);
}

.bg-high-overplay {
  background: rgba(0, 0, 0, .7);
}

.bg-deep-overplay {
  background: rgba(50, 50, 50, 0.7);
}

.bg-yellow {
  background: #ee4d2a;
}

.bg-light-green {
  background: #7cc576;
}

.border-gray {
  border: 1px solid #a5a5a5;
}

.border-gray-light {
  border: 1px solid #eaeaea;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.iscroll-ref::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #1d1d1d;
}

/*定义滚动条轨道 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #1d1d1d;
}

/*定义滑块 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #07abad;
  background-color: #555555;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.sideInTop-enter-active, .sideInTop-leave-active {
  transition: all .4s
}

.sideInTop-enter, .sideInTop-leave-to /* .fade-leave-active in below version 2.1.8 */
{
  opacity: 0;
}

.sideInTop-enter-active .pop-content {
  animation-name: sideInTop-in;
  animation-duration: .4s;
  animation-timing-function: ease;
}

.sideInTop-leave-active .pop-content {
  animation-name: sideInTop-out;
  animation-duration: .4s;
  animation-timing-function: ease;
}

@keyframes sideInTop-in {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
}

@-webkit-keyframes sideInTop-in {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes sideInTop-out {
  0% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100% 0);
  }
}

@-webkit-keyframes sideInTop-out {
  0% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100% 0);
  }
}

.wrap-container {
  width: 100%;
  padding: 0;
  &:before {
	display: table;
	content: " ";
  }
  &:after {
	display: table;
	content: " ";
	clear: both;
  }
  .top-header {
	top: 0;
	left: 0;
	height: 58px;
	width: 100%;
  }
  .left-col {
	min-height: 100%;
	width: 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 58px 0 0 0;
	display: -ms-flexbox;
	display: flex;
	left: 0;
	top: 0;
	z-index: 1;
	background: #2A3F54;
	.scroll-view {
	  width: 230px;
	}
  }
  .wrap-col {
	background: #f7f7f7;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 58px 0 0 230px;
  }
  .right-col {
	min-height: 100%;
  }

}
