html, body, .view {
  min-height: 100%;
  height: 100%;
}

input::-moz-placeholder {
  color: #cccccc;
  text-shadow: none;
  opacity: 1;
  -webkit-text-fill-color: initial;
}

input:-ms-input-placeholder {
  color: #cccccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

input::-webkit-input-placeholder {
  color: #cccccc;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.ani-time {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.color {
  color: #00c9cb;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}

.fade-enter, .fade-leave-to {
  opacity: 0
}

.is-transformed {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

.wrap-page {
  position: relative;
  &:before {
	content: ' ';
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000000 url("./../../../assets/images/background.jpg") no-repeat;
	background-size: 1920px 1080px;
  }
  .wrap-container {
	width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
	padding-bottom: 50px;
  }
}

.logo-box {
  width: 310px;
  height: 350px;
  padding-top: 40px;
  margin: 0px auto 0;
  //margin-left: 432px;
  position: relative;
  .circle-shadow {
	position: absolute;
	width: 310px;
	height: 310px;
	background: url("./../../../assets/images/circle-shadow.png") no-repeat;
	background-size: 100%;
  }
  .circle-out {
	position: absolute;
	width: 310px;
	height: 310px;
	background: url("./../../../assets/images/circle-out.png") no-repeat;
	background-size: 100%;
	-webkit-animation: circle-logo 10s infinite linear;
	-moz-animation: circle-logo 10s infinite linear;
	-ms-animation: circle-logo 10s infinite linear;
	-o-animation: circle-logo 10s infinite linear;
	animation: circle-logo 10s infinite linear;
	z-index: 2;
  }
  .circle-in {
	position: absolute;
	margin: auto;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 310px;
	height: 310px;
	background-size: 100%;
	background: url("./../../../assets/images/circle-in.png") no-repeat;
  }
  .circle-in img {
	position: absolute;
	margin: auto;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
  }
}

.login-box-s {
  width: 248px;
  height: 288px;
  .circle-shadow {
	width: 248px;
	height: 248px;
  }
  .circle-out {
	width: 248px;
	height: 248px;
  }
  .circle-in {
	width: 248px;
	height: 248px;
	background-size: 100%;
  }
}

.border-top {
  position: absolute;
  top: -15px;
  left: 0;
}

.border-bottom {
  position: absolute;
  right: 0;
  bottom: -15px;
}

.sideInTop-enter-active, .sideInTop-leave-active {
  transition: all .4s
}

.sideInTop-enter, .sideInTop-leave-to /* .fade-leave-active in below version 2.1.8 */
{
  opacity: 0;
}

.sideInTop-enter-active .pop-content {
  animation-name: sideInTop-in;
  animation-duration: .4s;
  animation-timing-function: ease;
}

.sideInTop-leave-active .pop-content {
  animation-name: sideInTop-out;
  animation-duration: .4s;
  animation-timing-function: ease;
}

@keyframes sideInTop-in {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
}

@-webkit-keyframes sideInTop-in {
  0% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
  }
  100% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes sideInTop-out {
  0% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100% 0);
  }
}

@-webkit-keyframes sideInTop-out {
  0% {
	opacity: 1;
	-webkit-transform: translate3d(-50%, -50%, 0);
	-moz-transform: translate3d(-50%, -50%, 0);
	-ms-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
  }
  100% {
	opacity: 0;
	-webkit-transform: translate3d(-50%, -100%, 0);
	-moz-transform: translate3d(-50%, -100%, 0);
	-ms-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100% 0);
  }
}

@keyframes circle-logo {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}

.border-blue {
  border: 1px solid #00cfd1;
}

.pop-border {
  border: 1px solid #01696a;
}

.search-form {
  .yun-form {
	display: block;
	margin: 60px auto 0;
	width: 990px;
	.search-icon {
	  display: inline-block;
	  width: 49px;
	  height: 49px;
	  background: transparent;
	  margin-left: 17px;
	  &:hover {
		-webkit-transform: translate3d(0, 5px, 0);
		-moz-transform: translate3d(0, 5px, 0);
		-ms-transform: translate3d(0, 5px, 0);
		-o-transform: translate3d(0, 5px, 0);
		transform: translate3d(0, 5px, 0);
	  }
	}

  }

  .yun-search {
	position: relative;
	border: none;
	display: inline-block;
	vertical-align: top;
	width: 920px;
	height: 50px;
	overflow: hidden;
	background: rgba(0, 0, 0, .5) url(../../../assets/images/search-bg.png) repeat-x;
	border-radius: 25px;
	font-size: 16px;
	.label-text-center {
	  position: absolute;
	  width: 100%;
	  height: 50px;
	  left: 0;
	  top: 0;
	  line-height: 50px;
	  text-align: center;
	  color: #a0a0a0;

	  i {
		padding: 0 8px;
	  }
	}
	.search-text {
	  float: left;
	  padding: 5px 0 5px 140px;
	  height: 50px;
	  color: #02b8ba !important;
	  text-shadow: 0px 0px #ffffff;
	  background: transparent;
	  -webkit-text-fill-color: transparent;
	  font-size: 16px;
	  width: 72%;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  position: relative;
	}
	.label-text-left {
	  position: absolute;
	  left: 0;
	  top: 0;
	  height: 50px;
	  width: 140px;
	  line-height: 50px;
	  text-align: right;
	  color: #ffffff;
	  i {
		padding: 0 8px;
	  }
	}
	.close-search {
	  position: absolute;
	  right: 25%;
	  top: 50%;
	  margin-top: -7px;
	}
  }

}

.login-box {
  width: 600px;
  height: 300px;
  border: 1px solid #00cfd1;
  margin: 50px auto 0;
  position: relative;
  .title {
	margin-left: 70px;
	height: 20px;
	padding-right: 10px;
	border-right: 1px solid #888888;
	font-size: 14px;
  }
  .g-input {
	border: none;
	outline: none;
	background: none;
	height: 40px;
	line-height: 40px;
	color: #cccccc;
	caret-color: #00cfd1;
	padding-left: 10px;
	font-size: 14px;
	min-width: 250px;
  }
  .errmsg {
	height: 14px;
	text-align: center;
	margin: 25px auto 22px;
	display: block;
	//color: #cccccc;
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000, 0 0 50px #ffffff;
  }
  .form-box {
	width: 420px;
	height: 50px;
	margin: 0 auto 40px;
	border-radius: 30px;
	line-height: 50px;
	color: #cccccc;
	background: url("./../../../assets/images/form-bg.png") repeat;
	//display: flex;
	//align-items: center;
	//justify-content: center;
	position: relative;
  }
  .send {
	position: absolute;
	right: 30px;
	&:hover {
	  color: #00cfd1;
	}
  }

  .center-flex {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
  }
  .button-box {
	margin: 36px auto;
	width: 420px;
	height: 24px;
  }
}

.login-btn {
  height: 24px;
  line-height: 24px;
  width: 120px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: auto;
}

.pop-btn-shadow {
  -ms-text-shadow: 0 0 5px #00cfd1, 0 0 10px #00cfd1, 0 0 20px #00cfd1, 0 0 40px #00cfd1, 0 0 60px #00cfd1;
  -moz-text-shadow: 0 0 5px #00cfd1, 0 0 10px #00cfd1, 0 0 20px #00cfd1, 0 0 40px #00cfd1, 0 0 60px #00cfd1;
  -webkit-text-shadow: 0 0 5px #00cfd1, 0 0 10px #00cfd1, 0 0 20px #00cfd1, 0 0 40px #00cfd1, 0 0 60px #00cfd1;
  text-shadow: 0 0 5px #00cfd1, 0 0 10px #00cfd1, 0 0 20px #00cfd1, 0 0 40px #00cfd1, 0 0 60px #00cfd1, 0 0 65px #ffffff;
  filter: Shadow(Color='00cfd1', Direction='', Strength='5'), Shadow(Color='00cfd1', Direction='', Strength='20'), Shadow(Color='00cfd1', Direction='', Strength='40'), Shadow(Color='00cfd1', Direction='', Strength='60');
  &:hover {
	transition: all .5s;
	transform: translate3d(0, 5px, 0);
  }
}

.disbale-btn {
  color: #888888;
  pointer-events: none;
  cursor: default;
}

.mod-pwd-box {
  height: 490px;
}

.register-box {
  height: 390px;
}

.main-container {
  width: 1150px;
  margin: 0 auto;
}

.header-wrap {
  width: 100%;
  height: 70px;
  min-width: 1150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: #232323;
  -moz-box-shadow: 0px 10px 18px #0a0a0a, 0px 10px 20px #333333;
  -webkit-box-shadow: 0px 10px 18px #0a0a0a, 0px 10px 20px #333333;
  box-shadow: 0px 10px 18px #0a0a0a, 0px 10px 20px #333333;
  border-bottom: 2px solid #000000;
  .home-icon {
	float: left;
	margin: 17px 0 0 24px;
  }
  .avatar-icon {
	float: right;
	margin: 20px 28px 0 0;
	&:hover {
	  -webkit-transform: translate3d(0, 5px, 0);
	  -moz-transform: translate3d(0, 5px, 0);
	  -ms-transform: translate3d(0, 5px, 0);
	  -o-transform: translate3d(0, 5px, 0);
	  transform: translate3d(0, 5px, 0);
	}
  }
}

.result-wrap {
  margin-left: 94px;
  float: left;
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff;
  .result-text {
	width: 160px;
	float: left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-size: 14px;
	padding: 4px 20px;
	height: 20px;
	line-height: 20px;
	background: url("./../../../assets/images/header-search.png") repeat-x;
	border: 1px solid #185758;
	overflow: hidden;
  }
  .result-select {
	float: left;
	width: 130px;
	height: 28px;
	margin-left: 10px;
	background: #000000 url("./../../../assets/images/header-search1.png") repeat-x;
	position: relative;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #0e8a8b;
	.option-name {
	  float: left;
	  line-height: 28px;
	  height: 28px;
	  padding-right: 12px;
	  width: 86px;
	  text-align: center;
	  position: relative;
	  cursor: pointer;
	  font-size: 14px;
	  &:after {
		content: "";
		position: absolute;
		right: 9px;
		border-top: 5px solid #00ced0;
		top: 50%;
		margin-top: -2px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	  }
	}
	.search-icon {
	  float: left;
	  border-left: 1px solid #00696a;
	  width: 28px;
	  height: 28px;
	  vertical-align: middle;
	  cursor: pointer;
	  img {
		display: inline-block;
		width: 17px;
		margin-left: 5px;
		vertical-align: middle;
		&:hover {
		  transition: all .3s;
		  transform: translate3d(0, 2px, 0);
		}
	  }
	  &:after {
		content: "";
		display: inline-block;
		width: 0;
		height: 100%;
		vertical-align: middle;
	  }
	}
  }
}

.bg-overplay {
  background: rgba(0, 0, 0, .4);
}

.bg-high-overplay {
  background: rgba(0, 0, 0, .7);
}

.bg-deep-overplay {
  background: rgba(50, 50, 50, 0.7);
}

.bg-yellow {
  background: #ee4d2a;
}

.bg-light-green {
  background: #7cc576;
}

.search-detail-wrap {
  padding-top: 11px;
  padding-bottom: 50px;
  zoom: 1;
  &:after {
	content: "";
	display: block;
	line-height: 0;
	visibility: hidden;
	clear: both;
  }
  .diff-store {
	.store-update {
	  .store-wrap {
		margin-top: 0;
	  }
	}

  }
  .left-store {
	float: left;
  }
  .rest-info {
	float: right;
  }
}

.common-rest-wrap {
  .store-item-icon {
	display: inline-block;
	margin-right: 18px;
	-webkit-box-shadow: 0 0 32px #00c2c4;
	-moz-box-shadow: 0 0 32px #00c2c4;
	box-shadow: 0 0 32px #00c2c4;
	width: 50px;
	height: 50px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	img {
	  display: block;
	  width: 50px;
	  height: 50px;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  border-radius: 50%;
	  overflow: hidden;

	}
  }
  .store-item-content {
	position: relative;
	display: inline-block;
	.rest-name {
	  width: 220px;
	  height: 28px;
	  line-height: 28px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  overflow: hidden;
	  font-size: 18px;
	  color: #ffffff;

	}
	.rest-count {
	  line-height: 22px;
	  height: 22px;
	  color: #939393;
	  font-size: 15px;
	  span {
		color: #00ced0;
	  }
	}
	.rest-account {
	  padding-top: 15px;
	  p {
		margin-bottom: 10px;
		overflow: hidden;
		span {
		  float: left;
		  font-size: 14px;
		}
		.acount-icon {
		  padding: 2px;
		  width: 14px;
		  height: 16px;
		  line-height: 16px;
		  text-align: center;
		  -webkit-border-radius: 3px;
		  -moz-border-radius: 3px;
		  border-radius: 3px;
		}
		.account-desc {
		  padding-left: 9px;
		  color: #939393;
		  letter-spacing: 2px;
		  max-width: 250px;
		  padding-top: 3px;
		  text-overflow: ellipsis;
		  overflow: hidden;
		  white-space: nowrap;
		}
	  }
	}
	.rest-btn {
	  position: absolute;
	  top: 16px;
	  right: 0;
	  &:hover {
		background: #07acad;
		color: #ffffff;
	  }
	}
	.store-info {
	  padding-top: 8px;
	  p {
		line-height: 25px;
		font-size: 13px;
		color: #a7a7a7;
	  }
	  .diff-text {
		padding-right: 11px;
	  }
	}
  }
  &.diff-border {
	border-top: 1px dashed #054344;
	border-bottom: 1px dashed #054344;
  }
}

.status-btn {
  padding: 4px 14px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  background: #0d5d5e;
  color: #01c1c2;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  &:hover {
	color: #ffffff;
  }
  &.unconcerned {
	background: #01babb;
	color: #ffffff;
  }
}

.action-dot {
  &:after {
	border: 0 !important;
  }
  &.header-dot {
	i {
	  top: 18px;
	  right: 13px;
	}
  }
  i {
	position: absolute;
	height: 35px;
	width: 1px;
	right: 10px;
	top: 28px;
	background: #00ced0;
	z-index: 100;
	&:after {
	  position: absolute;
	  top: -5px;
	  width: 5px;
	  height: 5px;
	  left: -2px;
	  content: "";
	  background: #00ced0;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  border-radius: 50%;
	}
	&:before {
	  position: absolute;
	  bottom: -5px;
	  width: 5px;
	  height: 5px;
	  left: -2px;
	  content: "";
	  background: #00ced0;
	  -webkit-border-radius: 50%;
	  -moz-border-radius: 50%;
	  border-radius: 50%;
	  z-index: 100;
	}
  }
}

.drop-list {
  position: absolute;
  z-index: 99;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, .9);
  &.search-list {
	top: 65px;
	left: 4px;
  }
  &.history-list {
	top: 55px;
	ul {
	  -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
	  border-radius: 10px;
	  overflow: hidden;
	  li {
		width: 167px;
		height: 36px;
		line-height: 36px;
	  }
	}
  }
  &.header-list {
	top: 55px;
	left: 0;
  }
  ul {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	li {
	  height: 45px;
	  line-height: 45px;
	  width: 132px;
	  font-size: 13px;
	  text-align: center;
	  position: relative;
	  border-bottom: 1px solid #004142;
	  &:hover {
		color: #00ced0;
	  }
	}
	li:first-child {
	  border-radius: 10px 10px 0 0;
	  -webkit-border-radius: 10px 10px 0 0;
	  -moz-border-radius: 10px 10px 0 0;
	}
	li:last-child {
	  border: 0;
	  border-radius: 0 0 10px 10px;
	  -webkit-border-radius: 0 0 10px 10px;
	  -moz-border-radius: 0 0 10px 10px;
	}
	.action {
	  color: #00ced0;
	  &:before {
		position: absolute;
		content: "";
		left: 20px;
		top: 38%;
		width: 0;
		border-left: 5px solid #00ced0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
	  }
	}
  }
}

.rank-num {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 28px;
  line-height: 30px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-top: 10px;
  &.digit1 {
	font-size: 15px;
  }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
.iscroll-ref::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #1d1d1d;
}

/*定义滚动条轨道 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background-color: #1d1d1d;
}

/*定义滑块 内阴影+圆角*/
.iscroll-ref::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #07abad;
  background-color: #555555;
}

.map-scale {
  text-align: right;
  padding-right: 9px;
  padding-top: 16px;
  color: #09888a;
  .unit-scale {
	position: relative;
	display: inline-block;
	//@include wh(30px, 16px);
	width: 40px;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	background: #113636;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
	color: #ffffff;
	border: 1px solid #088385;
	cursor: pointer;
	border-radius: 4px;
	&.action {
	  background: #088385;
	}
	&:hover {
	  transition: all .5s;
	  background: #088385;
	}

  }
  .left-scale {
	text-align: center;
	margin-left: 20px;
	//border-left: 0;
	//&:before {
	//  content: "";
	//  position: absolute;
	//  left: -8px;
	//  top: 0px;
	//  border-right: 8px solid #113636;
	//  border-bottom: 8px solid transparent;
	//  border-top: 8px solid transparent;
	//  z-index: 2;
	//}
	//&:after {
	//  content: "";
	//  position: absolute;
	//  left: -9px;
	//  top: -1px;
	//  border-right: 9px solid #088385;
	//  border-bottom: 9px solid transparent;
	//  border-top: 9px solid transparent;
	//}
	&.action {
	  &:before {
		border-right: 9px solid #088385;
	  }
	  &:after {
		border-right: 9px solid #088385;
	  }
	}
  }
  .right-scale {
	text-align: center;
	margin-left: 5px;
	//border-right: 0;
	//margin-right: 10px;
	//&:before {
	//  content: "";
	//  position: absolute;
	//  right: -8px;
	//  top: 0px;
	//  border-left: 8px solid #113636;
	//  border-bottom: 8px solid transparent;
	//  border-top: 8px solid transparent;
	//  z-index: 2;
	//}
	//&:after {
	//  content: "";
	//  position: absolute;
	//  right: -9px;
	//  top: -1px;
	//  border-left: 9px solid #088385;
	//  border-bottom: 9px solid transparent;
	//  border-top: 9px solid transparent;
	//}
	&.action {
	  &:before {
		border-left: 9px solid #088385;
	  }
	  &:after {
		border-left: 9px solid #088385;
	  }
	}
  }
  .center-scale {
	width: 40px;
	height: 18px;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	margin-left: 5px;
	border: 1px solid #0a7677;
	background: #103a3b;
	color: #ffffff;
	cursor: pointer;
	font-size: 12px;
	&.action {
	  background: #088385;
	}
  }
}

.building-desc {
  overflow: hidden;
  li {
	float: left;
	width: 200px;
	margin-right: 15px;
	padding-top: 36px;
	text-align: center;
	img {
	  display: block;
	  margin: 0 auto;
	  height: 40px;
	}
	.building-type {
	  font-size: 15px;
	  height: 38px;
	  line-height: 38px;
	  color: #cccccc;
	}
	.building-count {
	  font-size: 30px;
	  color: #00ced0;
	  letter-spacing: 2px;
	  span {

		//padding: 0 12px 0 0;
		font-size: 30px;
	  }
	}
	.show-more {
	  margin-top: 24px;
	  border-top: 1px dashed #01696a;
	  .more-btn {
		cursor: pointer;
		margin: 20px auto;
		width: 50px;
		height: 20px;
		line-height: 20px;
		text-align: center;
		background: #02b8ba;
		color: #ffffff;
		border-radius: 10px;
		&:hover {
		  color: #ffffff;
		  background: #0d5d5e;
		  transition: all .5s;
		}
	  }
	}
  }
  li:last-child {
	margin-right: 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.city-cover {
  .city-count {
	width: 100%;
	position: relative;
	//border-right: 1px solid #0c4a4b;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	li {
	  padding-bottom: 30px;
	  color: #a7a7a7;
	  text-align: center;
	  font-size: 14px;
	  span {
		padding-left: 15px;
	  }
	}
	//li:last-child {
	//  padding: 0;
	//}
	//&:nth-child(2n) {
	//  border: 0;
	//}
  }
}

.update-time-map {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 12px;
}

.page-container {
  height: 58px;
  padding: 0 17px;
  .pop-btn {
	font-size: 20px;
	line-height: 58px;
	margin-right: 10px;
	&:hover {
	  //transition:  transform .3s;
	  //transform: scale(1.1);
	  transition: all .5s;
	  transform: translate3d(0, 5px, 0);
	}
  }
}

.inner-content {
  .table-content {
	margin: 22px 38px 0 38px;
	table {
	  width: 100%;
	  font-size: 13px;
	  tr {
		border-bottom: 1px solid #333333;
		height: 40px;
		&:first-child {
		  border-top: 1px solid #333333;
		}
		th {
		  padding-left: 14px;
		  color: #ffffff;
		  letter-spacing: 2px;
		}
		td {
		  padding-left: 14px;
		  color: #a7a7a7;
		  .activity-list {
			overflow: hidden;
			max-height: 60px;
		  }
		  .food-icon {
			display: block;
			&:hover {
			  .detail-img {
				display: block;
			  }
			}
			position: relative;
			.show-img {
			  display: block;
			  width: 59px;
			  height: 59px;
			  margin: 18px 0;
			  img {
				display: block;
				width: 100%;
				height: 100%;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			  }
			}
			.detail-img {
			  position: absolute;
			  width: 142px;
			  height: 142px;
			  padding: 10px;
			  display: none;
			  border: 1px solid #00cfd1;
			  border-radius: 10px;
			  -webkit-border-radius: 10px;
			  -moz-border-radius: 10px;
			  border-radius: 10px;
			  top: -185px;
			  left: -54px;
			  background: #000000;
			  -webkit-box-shadow: 0 0 20px #00cfd1;
			  -moz-box-shadow: 0 0 20px #00cfd1;
			  box-shadow: 0 0 20px #00cfd1;
			  img {
				width: 100%;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				border-radius: 10px;
			  }
			  &:after {
				position: absolute;
				content: '';
				height: 20px;
				width: 20px;
				bottom: -11px;
				left: 72px;
				overflow: hidden;
				background-color: #000000;
				pointer-events: none;
				transform: rotate(-135deg);
				z-index: 1;
				border-top: 1px solid #00cfd1;
				border-left: 1px solid #00cfd1;
			  }
			}

		  }
		  .today-amount {
			color: #03aaac;
		  }
		  .common-account {
			display: inline-block;
			vertical-align: top;
			margin-top: 18px;
			color: #ffffff;
			height: 16px;
			line-height: 16px;
			text-align: center;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			font-size: 13px;
			padding: 2px;
			width: 14px;
		  }
		  .account-text {
			color: #a7a7a7;
			width: 230px;
			overflow: hidden;
			line-height: 16px;
			display: inline-block;
			padding: 18px 0 18px 12px;
		  }
		  .discount-detail {
			position: relative;
			width: 300px;
			i {
			  background: url("../../../assets/images/hot-food-icon.png") no-repeat;
			  height: 17px;
			  width: 50px;
			  display: inline-block;
			  vertical-align: top;
			  margin: 2px 0 0 10px;
			  &:active {
				-webkit-transform: scale(.9);
				-moz-transform: scale(.9);
				-ms-transform: scale(.9);
				-o-transform: scale(.9);
				transform: scale(.9);
			  }
			}
		  }
		  .diff-account {
			width: auto;
			vertical-align: top;
			padding: 0 0 22px 12px;
			margin-top: -5px;

		  }
		  .count-mark {
			position: relative;
			height: 20px;
			&:after {
			  position: absolute;
			  content: "";
			  margin-left: 8px;
			  top: -4px;
			  width: 15px;
			  height: 19px;
			  background: url('./../../../assets/images/hot-icon.png') no-repeat 0 0;
			}
		  }
		  .down-mark {
			&:after {
			  background-position: 0 -40px;
			}
		  }
		}
	  }
	  .rest-table {
		th {
		  &:first-child {
			width: 120px;
		  }
		  &:nth-child(2) {
			width: 170px;
		  }
		}
		td {
		  &:first-child {
			width: 120px;
		  }
		  &:nth-child(2) {
			width: 170px;
		  }
		}
	  }
	  .table-bg {
		background: rgba(33, 37, 38, 0.7);
	  }
	  .use-time {
		position: relative;
		width: 6px;
		height: 40px;
	  }
	  .up-btn {
		position: relative;
		cursor: pointer;
		width: 8px;
		height: 40px;
		top: -17px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 7px solid #a7a7a7;
		-webkit-transition: all .3s;
		-moz-transition: all .3s;
		-ms-transition: all .3s;
		-o-transition: all .3s;
		transition: all .3s;
		&:hover {
		  border-bottom: 7px solid #00ced0;;
		}
	  }
	  .down-btn {
		position: relative;
		cursor: pointer;
		width: 8px;
		height: 40px;
		left: -10px;
		top: 18px;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-top: 7px solid #a7a7a7;
		&:hover {
		  border-top: 7px solid #00ced0;
		}

	  }
	}
	.table-page {
	  position: absolute;
	  right: 25px;
	  bottom: -8px;
	  height: 58px;
	  .page-list {
		position: static;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	  }
	}
	.activity-table {
	  tr {
		.diff-padding {
		  padding-left: 40px;
		}
	  }
	}
  }
  .graph-content {
	height: 370px;
	padding: 0;
	top: -25px;
	width: 604px;
	position: relative;
	z-index: 29;
  }
  .small-table {
	tr {
	  th:nth-of-type(1) {
		width: 28%;
	  }
	  th:nth-of-type(2) {
		width: 37%;
	  }
	  th:nth-of-type(3) {
		width: 35%;
	  }
	  td:nth-of-type(1) {
		width: 28%;
	  }
	  td:nth-of-type(2) {
		width: 37%;
	  }
	  td:nth-of-type(3) {
		width: 35%;
	  }
	}
  }
  .middle-table {
	tr {
	  th:nth-of-type(2n) {
		width: 20%;
	  }
	  td:nth-of-type(2n) {
		width: 20%;
	  }
	}
  }
  .use-table {
	tr {
	  th:nth-of-type(1) {
		width: 28%;
	  }
	  th:nth-of-type(2) {
		width: 32%;
	  }
	  th:nth-of-type(3) {
		width: 40%;
	  }
	  td:nth-of-type(1) {
		width: 28%;
	  }
	  td:nth-of-type(2) {
		width: 32%;
	  }
	  td:nth-of-type(3) {
		width: 40%;
	  }
	}
  }
}

.order-tips {
  .md-content {
	.tip-message {
	  height: 140px;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-box-pack: center;
	  -moz-box-pack: center;
	  -ms-flex-pack: center;
	  -webkit-justify-content: center;
	  justify-content: center;
	  font-size: 20px;
	  line-height: 28px;
	  .toast-message {
		max-width: 100%;
		text-align: center;
		line-height: 30px;
	  }
	}
	.pop-action {
	  float: right;
	  .order-action {
		margin: 11px 26px 0 0;
		padding: 8px;
		font-size: 21px;
		background: transparent;
	  }
	}
	.diff-action {
	  width: 100%;
	  .order-num {
		font-size: 12px;
		letter-spacing: 1px;
		padding: 23px 0 0 26px;
	  }
	}

  }
}

.shoper-brand {
  min-height: 350px;
  width: 1050px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  .rest-order-num {
	height: 82px;
	letter-spacing: 2px;
	line-height: 82px;
	font-size: 25px;
	color: #00cfd1;
	span {
	  font-size: 16px;
	}
  }
}

.order-brand-list {
  border: 1px solid #00696a;
  border-bottom: 0;
  .concern-list {
	float: left;
	width: 337px;
	border-right: 1px solid #00696a;
	&:nth-of-type(3n) {
	  border-right: 0;
	}
  }

}

.shoper-brand {
  .empty-info-diff {
	border: 1px solid #00696a;
	border-top: 0;
  }
  .border-top {
	border-top: 1px solid #00696a;
  }
  .page-wrap-diff {
	position: relative;
	height: 100px;
	text-align: center;
  }
}

.empty-info {
  flex: 1;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #0f4d4d;
  .empty-message {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	img {
	  display: block;
	  margin: 0 auto;
	}
	p {
	  line-height: 28px;
	  height: 28px;
	  color: #105859;
	  text-align: center;
	}
  }
}

.history-tips-wrap {
  .md-modal {
	.md-content {
	  width: 440px;
	  height: 300px;
	  .toast-wrap {
		height: 140px;
	  }
	  .toast-message {
		text-align: center;
		width: 100%;
		font-size: 17px;
		line-height: 25px;
	  }
	  .pop-action {
		float: right;
		.order-action {
		  margin: 12px 26px 0 0;
		  padding: 8px;
		  font-size: 19px;
		  background: transparent;
		}
	  }
	}
  }
}

.hotsale-wrap {
  .md-modal {
	.md-content {
	  .hot-food-wrap {
		margin: 0 auto;
		width: 468px;
		height: 440px;
		border: 1px solid #006869;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		.hot-food-list {
		  height: 440px;
		  overflow: hidden;
		  li {
			width: 410px;
			height: 64px;
			margin: 0 auto;
			padding-top: 36px;
			font-size: 18px;
			border-bottom: 1px dashed #013f40;
			.foods-recipe {
			  width: 405px;
			  overflow: hidden;
			  height: 24px;
			  line-height: 24px;
			  text-overflow: ellipsis;
			  white-space: nowrap;
			}
			.fixed-price {
			  font-size: 12px;
			  letter-spacing: 2px;
			  span {
				color: #a0a0a0;
				line-height: 35px;
			  }
			}
		  }
		}
	  }
	  .user-feedback {
		line-height: 50px;
		height: 50px;
		text-align: center;
		.know-btn {
		  display: inline-block;
		  padding: 0 10px;
		  font-size: 21px;
		  height: 50px;
		  &:hover {
			color: #00c2c4;
		  }
		}
	  }
	}
  }
}

.whole-map {
  &.diff-city-map {
	height: 540px;
	width: 650px;
	&.whole-map {
	  .map-over {
		height: 440px;
	  }

	}
  }
}

@keyframes glowGreen {
  0% {
	text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #236164, 0 0 70px #236164, 0 0 80px #00cfd1, 0 0 100px #00cfd1, 0 0 150px #00cfd1;
  }

  100% {
	text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #236164, 0 0 35px #236164, 0 0 40px #00cfd1, 0 0 50px #00cfd1, 0 0 75px #00cfd1;
  }

}

.diff-text {
  letter-spacing: 0;
}

.bg-new {
  background: #00aeef;
}

.bg-minus {
  background: #ee4d2a;
}

.bg-only {
  background: #f26d7d;
}

.bg-first {
  background: #7cc576;
}

.bg-back {
  background: #92278f;
}

.bg-discount {
  background: #5674b9;
}

.bg-get {
  background: #5674b9;
}

.bg-donate {
  background: #39b54a;
}

.bg-vip {
  background: #ec008c;
}

.bg-others {
  background: #b7b7b7;
}

.mint-indicator-wrapper {
  box-shadow: 0 0 35px #00c2c4 inset;
  -webkit-box-shadow: 0 0 35px #00c2c4 inset;
  -moz-box-shadow: 0 0 35px #00c2c4 inset;
  background: transparent;
}

.mint-toast {
  background: #000000 !important;
  opacity: .85;
  padding: 10px 15px !important;
  .text {
	font-size: 40px !important;
  }
}

.color {
  color: #00cfd1;
}

.gui-scrollgroup-bar {
  display: block;
  width: 4px !important;
  min-height: 100px !important;
  background-color: #09888a !important;
  position: absolute;
  opacity: 0.8;
  right: 0px;
  border-radius: 3px;
}