.wrap-page {
  background: #f4f4f4;
}

.login-wrap {
  width: 500px;
  height: 520px;
  background: #ffffff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  .login-tit {
	color: #333333;
	font-size: 29px;
	margin: 0 auto;
	text-align: center;
	height: 88px;
	line-height: 88px;
	padding-top: 45px;
	letter-spacing: 2px;
  }
  .link-forget {
	width: 320px;
	margin: 15px auto 22px;
	span {
	  padding: 3px 0px 2px 1px;
	  font-size: 14px;
	}
  }
  .login-btn {
	margin: 0 auto;
	width: 320px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 5px;
	background: #ed5564;
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	&:hover {
	  background: #f5374a;
	}
  }
  .resetPwd-top {
	margin: 56px auto 0;
  }
  .link-keys {
	width: 320px;
	text-align: center;
	margin: 35px auto 0;
	color: #4a4a4a;
	span{
	  font-size: 14px;
	  padding: 5px;
	  height: 20px;
	  color: #61a4de;
	  &:hover {
		color: #2c85d3;
	  }
	}
  }
}

.resetPwd-wrap {
  width: 500px;
  height: 626px;
  .verify-wrap {
	width: 320px;
	margin: 0 auto;
	.send-btn {
	  right: 0;
	  top: 26px;
	  border-left: 1px solid #dbdee7;
	  width: 120px;
	  height: 40px;
	  line-height: 40px;
	  text-align: center;
	  font-size: 14px;
	  color: #61a4de;
	  &:hover {
		color: #2c85d3;
	  }
	}
  }
}

.register-wrap {
  width: 500px;
  height: 626px;
}