.message-wrap {
  padding: 42px 34px 50px 34px;
  .msg-content {
	.action-wrap {
	  .more-delete {
		@include wh(99px, 30px);
		line-height: 30px;
		margin-right: 10px;
		vertical-align: middle;
		background: #f8f8f8;
		text-align: center;
		img {
		  display: inline-block;
		  vertical-align: middle;
		}
		span {
		  display: inline-block;
		  line-height: 30px;
		  font-size: 12px;
		  height: 30px;
		  vertical-align: middle;
		  padding-left: 14px;
		}
		&:hover {
		  border: 1px solid #cccccc;
		}
	  }
	  .action-box {
		margin-left: 35px;
		line-height: 32px;
		height: 32px;
		margin-right: 10px;
		vertical-align: middle;
		i {
		  display: inline-block;
		  @include wh(14px, 14px);
		  @include borderRadius(50%);
		  vertical-align: middle;
		  border: 1px solid #dddddd;
		  box-shadow: inset 0 0 0 7px #f1f1f1;
		  -webkit-transition: box-shadow 0.3s ease;
		  transition: box-shadow 0.3s ease;
		  &.action {
			border: 1px solid #ed5564;
			box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 7px #ed5564;

		  }
		}
		span {
		  display: inline-block;
		  line-height: 32px;
		  height: 32px;
		  vertical-align: middle;
		  padding-left: 12px;
		  font-size: 14px;
		}

	  }
	  .text-msg {
		padding-right: 44px;
		height: 32px;
		vertical-align: middle;
		line-height: 32px;
		.msg-txt {
		  display: inline-block;
		  height: 32px;
		  line-height: 32px;
		  vertical-align: middle;
		  padding-right: 15px;
		}
		.switch-con {
		  display: inline-block;
		}
	  }

	}
  }
}

.mui-switch {
  width: 32px;
  height: 18px;
  position: relative;
  top: 7px;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

.mui-switch:checked {
  border-color: #f36478;
  box-shadow: #f36478 0 0 0 16px inset;
  background-color: #f36478;
}

.mui-switch.mui-switch-anim:checked {
  box-shadow: #f36478 0 0 0 16px inset;
  background-color: #f36478;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch:before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}

.mui-switch:checked:before {
  left: 16px;
}

.table-content {
  padding-top: 24px;
  font-size: 14px;
  .inner-table {
	width: 100%;
	border-collapse: collapse;
	tr {
	  border: 1px solid #efefef;
	  height: 56px;
	  th {
		&:nth-of-type(1) {
		  width: 20%;
		}
		&:nth-of-type(2) {
		  width: 20%;
		}
		&:nth-of-type(3) {
		  width: 15%;
		}
		&:nth-of-type(4) {
		  width: 21%;
		}
		&:nth-of-type(5) {
		  min-width: 110px;
		}
	  }
	  td {
		color: #404040;
		&:nth-of-type(1) {
		  width: 20%;
		}
		&:nth-of-type(2) {
		  width: 24%;
		}
		&:nth-of-type(3) {
		  width: 23.3%;
		}
		&:nth-of-type(4) {
		  width: 22%;
		}
		&:nth-of-type(5) {
		  min-width: 110px;
		}
	  }
	  .draw-tick {
		display: inline-block;
		@include wh(18px, 18px);
		margin-left: 26px;
		vertical-align: middle;
		&:after, &:before {
		  content: '';
		  font-family: helvetica;
		  display: inline-block;
		  width: 18px;
		  height: 18px;
		  left: 0;
		  position: absolute;
		  bottom: 0;
		  text-align: center;
		  @include borderRadius(3px);
		}
		&:before {
		  border: 1px solid #cccccc;
		  background-color: #ffffff;
		  -moz-transition: all 0.3s ease-in-out;
		  -o-transition: all 0.3s ease-in-out;
		  -webkit-transition: all 0.3s ease-in-out;
		  transition: all 0.3s ease-in-out;
		}
		&:after {
		  color: #ffffff;
		  content: "\2713";
		  line-height: 18px;
		  font-size: 14px;
		}
		&:hover {
		  &:after {
			color: #c7c7c7;
		  }
		}
		&.action {
		  &:before {
			border: 1px solid #f36478;
			-moz-box-shadow: inset 0 0 0 9px #f36478;
			-webkit-box-shadow: inset 0 0 0 9px #f36478;
			box-shadow: inset 0 0 0 9px #f36478;
		  }
		  &:after {
			color: #ffffff;
		  }

		}
	  }
	  .rank-num {
		display: inline-block;
		padding-left: 30px;
		height: 18px;
		line-height: 18px;
	  }
	  .wait-pick {
		color: #8de1c1;
	  }
	  .action-menu {
		padding-right: 35%;
		text-align: right;
		span {
		  color: #61a4de;
		  position: relative;
		  &:hover {
			color: #2c85d3;

		  }
		}
		span:nth-of-type(2) {
		  text-align: right;
		  .delete-pop {
			right: -18px;
			top: -132px;
			z-index: 5;
			@include wh(268px, 118px);
			background: #ffffff;
			@include borderRadius(4px);
			&:before {
			  position: absolute;
			  content: "";
			  height: 12px;
			  width: 12px;
			  bottom: -6px;
			  right: 25px;
			  overflow: hidden;
			  background-color: #ffffff;
			  pointer-events: none;
			  transform: rotate(-135deg);
			  z-index: -1;
			  border-top: 1px solid rgba(0, 0, 0, 0.25);
			  border-left: 1px solid rgba(0, 0, 0, 0.25);
			  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
			}
			.sure-content {
			  left: 0;
			  top: 0;
			  width: 100%;
			  height: 100%;
			  cursor: default;
			  background-color: #ffffff;
			  .quesiton-txt {
				height: 62px;
				line-height: 62px;
				padding: 0 0 6px 28px;
				vertical-align: middle;
				text-align: left;
				img {
				  display: inline-block;
				  vertical-align: middle;
				}
				span {
				  display: inline-block;
				  padding-left: 14px;
				  vertical-align: middle;
				  height: 62px;
				  line-height: 62px;
				  font-size: 14px;
				  color: #333333;
				}

			  }
			  .btn-wrap {
				padding-right: 8px;
				.action-btn {
				  margin-right: 24px;
				  @include wh(48px, 26px);
				  line-height: 26px;
				  text-align: center;
				  color: #333333;
				  @include borderRadius(4px);

				}
				.cancel-btn {
				  border: 1px solid #dddddd;
				  background: #f8f8f8;
				  &:hover {
					border: 1px solid #cccccc
				  }
				}
				.delete-btn {
				  border: 1px solid transparent;
				  background: #ed5564;
				  color: #ffffff;
				  &:hover {
					background: #f5374a;
				  }
				}
			  }
			}
		  }
		}
	  }
	  .is-picked {
		color: #f2808b;
	  }
	}

  }
}