.message-page {
  padding: 42px 34px 50px 34px;
  .msg-content {
	.action-wrap {
	  .more-delete {
		@include wh(99px, 30px);
		line-height: 30px;
		margin-right: 10px;
		vertical-align: middle;
		background: #f8f8f8;
		text-align: center;
		img {
		  display: inline-block;
		  vertical-align: middle;
		  padding-bottom: 2px;
		}
		span {
		  font-size: 12px;
		  padding-left: 14px;
		}
		&:after {
		  content: "";
		  display: inline-block;
		  width: 0;
		  height: 100%;
		  vertical-align: middle;
		}
		&:hover {
		  border: 1px solid #cccccc;
		}
	  }
	  .action-box {
		margin-left: 35px;
		line-height: 32px;
		height: 32px;
		margin-right: 10px;
		vertical-align: middle;
		span {
		  display: inline-block;
		  line-height: 32px;
		  height: 32px;
		  vertical-align: middle;
		  padding-left: 12px;
		  font-size: 14px;
		}
		.check-tick {
		  display: inline-block;
		  width: 16px;
		  height: 16px;
		  margin-left: 26px;
		  vertical-align: middle;
		  .mui-check {
			position: relative;
			left: 2px;
			top: -2px;
			border: none;
			border: none;
			display: inline-block;
			width: 16px;
			height: 16px;
			&:after, &:before {
			  content: '';
			  font-family: helvetica;
			  display: inline-block;
			  width: 16px;
			  height: 16px;
			  left: 0;
			  position: absolute;
			  bottom: 0;
			  text-align: center;
			  -webkit-border-radius: 3px;
			  -moz-border-radius: 3px;
			  border-radius: 3px;
			}
			&:before {
			  border: 1px solid #cccccc;
			  background-color: #ffffff;
			  -moz-transition: all 0.2s ease-in-out;
			  -o-transition: all 0.2s ease-in-out;
			  -webkit-transition: all 0.2s ease-in-out;
			  transition: all 0.2s ease-in-out;
			}
			&:after {
			  color: #ffffff;
			  content: "\2713";
			  line-height: 18px;
			  font-size: 14px;
			}
			&:hover {
			  &:hover {
				color: #c7c7c7;
			  }
			}
			&:checked {
			  &:before {
				border: 1px solid #f36478;
				-moz-box-shadow: inset 0 0 0 8px #f36478;
				-webkit-box-shadow: inset 0 0 0 8px #f36478;
				box-shadow: inset 0 0 0 8px #f36478;
			  }
			  &:after {
				color: #ffffff;
			  }
			}
		  }

		}

	  }
	  .text-msg {
		padding-right: 44px;
		height: 32px;
		vertical-align: middle;
		line-height: 32px;
		.msg-txt {
		  display: inline-block;
		  height: 32px;
		  line-height: 32px;
		  vertical-align: middle;
		  padding-right: 15px;
		}
		.switch-con {
		  display: inline-block;
		}
	  }

	}
  }
}

.mui-switch {
  width: 32px;
  height: 18px;
  position: relative;
  top: 7px;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

.mui-switch:checked {
  border-color: #f36478;
  box-shadow: #f36478 0 0 0 16px inset;
  background-color: #f36478;
}

.mui-switch.mui-switch-anim:checked {
  box-shadow: #f36478 0 0 0 16px inset;
  background-color: #f36478;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch:before {
  content: '';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 1px;
  left: 0;
  border-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}

.mui-switch:checked:before {
  left: 16px;
}

.table-content {
  .inner-table {
	tr {
	  th {
		&:nth-of-type(1) {
		  width: 20%;
		}
		&:nth-of-type(2) {
		  width: 20%;
		}
		&:nth-of-type(3) {
		  width: 15%;
		}
		&:nth-of-type(4) {
		  width: 21%;
		}

	  }
	  td {
		color: #404040;
		&:nth-of-type(1) {
		  width: 20%;
		}
		&:nth-of-type(2) {
		  width: 24%;
		}
		&:nth-of-type(3) {
		  width: 23.3%;
		}
		&:nth-of-type(4) {
		  width: 24%;
		}

	  }
	}
  }
}