.explain {
  line-height: 40px;
  color: #999999;
  float: left;
  font-size: 12px;
  margin-left: 10px;
}

.lang-explain {
  display: block;
  margin-left: 128px;
  clear: both;
}

.action-box {
  margin-left: 0;
  margin-right: 20px;
  span {
    height: 40px;
    line-height: 40px;
  }
}

.large-input {
  width: 58%;
}

.opp-up-btn {
  margin-top: 9px;
  position: relative;
  .upload-file {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
  }
}

.complate-upload-file {
  display: block;
  margin-left: 128px;
  //line-height: 40px;
  margin-top: 20px;
  font-size: 14px;
}

.del-file {
  color: #fe6e05;
  margin-left: 8px;
}
