.diff-oppman-wrap{
  min-height: 750px !important;
}
.oppman-wrap {
  padding: 20px 44px 50px 44px;
  .oppman-banner {
	line-height: 30px;
	font-size: 14px;
  }
}

.search-box {

  .search-input {
	width: 150px;
  }
}

.search-size {
  margin-top: 20px;
}

.oppman-table {
  .inner-table {
	  color: #404040;
	tr {
	  th {
		&:nth-of-type(1) {
		  width: 9%;
		}
		&:nth-of-type(2) {
		  width: 12%;
		}
		&:nth-of-type(3) {
		  width: 9%;
		}
		&:nth-of-type(4) {
		  width: 12%;
		}
		&:nth-of-type(5) {
		  width: 12%;
		}
		&:nth-of-type(6) {
		  width: 12%;
		}
		&:nth-of-type(7) {
		  width: 8%;
		}
		&:nth-of-type(8) {
		  width: 12%;
		}
		 &:nth-of-type(9) {
		  width: 9%;
		}

	  }
	  td {

		  &:nth-of-type(1) {
			  width: 9%;
		  }
		  &:nth-of-type(2) {
			  width: 12%;
		  }
		  &:nth-of-type(3) {
			  width: 9%;
		  }
		  &:nth-of-type(4) {
			  width: 12%;
		  }
		  &:nth-of-type(5) {
			  width: 12%;
		  }
		  &:nth-of-type(6) {
			  width: 12%;
		  }
		  &:nth-of-type(7) {
			  width: 8%;
		  }
		  &:nth-of-type(8) {
			  width: 12%;
		  }
		  &:nth-of-type(9) {
			  width: 9%;
		  }

	  }
		.creator-name{
			position: relative;
			color:#61a4de;
		}
		.audit-status-desc{
			position: relative;
		}
	}
  }
}
.clearfix {
  clear: both;
}

.p-left {
  margin-left: 40px;
}
.date-box{
	margin-left: 40px;
}
@media screen and (max-width: 1650px) {
  .p-left {
	margin-left: 15px;
  }
  .date-box {
	margin-left: 15px;
	.date-form {
	  width: 172px;
	  padding-left: 10px;
	}
  }
  .status-form .status-type {
	  margin-left: 10px;
	  margin-right: 0;
  }
}

@media screen and (max-width: 1450px) {
	.date-box {
		margin-left: 0;
		margin-top: 20px;
		.date-form {
			width: 172px;
			padding-left: 10px;
		}
	}
	.left-width{
		margin-left: 15px;
		clear: none;
	}
	.custom-company{
		margin-left: 0px;
	}
}
@media screen and (max-width: 1330px) {
  .p-left {
	margin-left: 15px;
  }
	.custom-company{
		margin-left: 0px;
	}
}

