.percenter-wrap {
  padding: 20px 44px 0 44px;
  .menu-wrap {
	border-bottom: 1px solid #efefef;
  }
  .percenter-inner {
	.icon-collect {
	  width: 55%;
	  min-width: 600px;
	  padding-top: 45px;
	  .default-img {
		width: 121px;
		height: 129px;
		@include borderRadius(50%);
	  }
	}
  }
}