.plat-wrap {
  padding: 45px 35px 50px 44px;
  .action-btn {
	background: #ed5564;
	text-align: center;
	color: #ffffff;
	@include borderRadius(5px);
	&:hover {
	  background: #f5374a;
	}
  }
  .add-btn {
	@include wh(88px, 30px);
	font-size: 13px;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	@include boxSizing;
  }
  .search-btn{
	height:30px;
	line-height: 30px;
	width: 58px;
	text-align: center;
	margin-left: 28px;
  }
  .cross-txt {
	background: #ffffff;
	height: 14px;
	width: 2px;
	margin-right: 9px;
	display: inline-block;
	vertical-align: middle;
	top: -2px;
	&:after {
	  background: #ffffff;
	  content: "";
	  @include wh(14px, 2px);
	  left: -6px;
	  position: absolute;
	  top: 6px;
	}

  }
  .search-wrap {
	margin-left: 28px;
	color: #404040;
	font-size: 14px;
	span {
	  padding: 0 18px;
	  height: 30px;
	  line-height: 30px;
	  text-align: center;
	}
	.search-bar {
	  @include wh(149px, 30px);
	  .search-name {
		@include wh(130px, 18px);
		padding: 5px 22px 5px 5px;
		border: 1px solid #dedede;
		@include borderRadius(5px);
		&:focus {
		  border: 1px solid #cccccc;
		}
	  }
	  .close-btn {
		right: -6px;
		top: 5px;

	  }
	}
  }
}
.table-content {
  .inner-table {
	tr {
	  th {
		&:nth-of-type(1) {
		  width: 12%;
		}
		&:nth-of-type(2) {
		  width: 14%;
		}
		&:nth-of-type(3) {
		  width: 13%;
		}
		&:nth-of-type(4) {
		  width: 14%;
		}
		&:nth-of-type(5) {
		  width: 15%;
		}
		&:nth-of-type(6) {
		  width: 16%;
		}
		&:nth-of-type(7) {
		  width: 16%;
		}

	  }
	  td {
		color: #404040;
		&:nth-of-type(1) {
		  width: 13%;
		}
		&:nth-of-type(2) {
		  width: 14%;
		}
		&:nth-of-type(3) {
		  width: 14%;
		}
		&:nth-of-type(4) {
		  width: 14%;
		}
		&:nth-of-type(5) {
		  width: 15%;
		}
		&:nth-of-type(6) {
		  width: 15%;
		}
		&:nth-of-type(7) {
		  width: 12%;
		}

	  }
	}
  }
}
.post-table{
	.inner-table {
		tr {
			th {
				&:nth-of-type(1) {
					width: 16%;
				}
				&:nth-of-type(2) {
					width: 19%;
				}
				&:nth-of-type(3) {
					width: 18%;
				}
				&:nth-of-type(4) {
					width: 18%;
				}
				&:nth-of-type(5) {
					width: 20%;
				}

			}
			td {
				color: #404040;
				&:nth-of-type(1) {
					width: 16%;
				}
				&:nth-of-type(2) {
					width: 19%;
				}
				&:nth-of-type(3) {
					width: 18%;
				}
				&:nth-of-type(4) {
					width: 18%;
				}
				&:nth-of-type(5) {
					width: 20%;
				}

			}
		}
	}
}