.mod-company-container {
  color: #333333;
  .mod-tit {
	line-height: 64px;
	height: 64px;
	padding-left: 25px;
	margin: 0 10px;
	font-size: 15px;
	border-bottom: 1px solid #eaeaea;
  }
  .mod-company-content {
	padding: 20px 10px 39px;
	line-height: 36px;
	font-size: 14px;
  }
}

.message-wrap {
  max-height: 300px;
  overflow: hidden;
}

.company-message {
  border-bottom: 1px solid #e4e4e4;
  overflow: hidden;
  margin: 0 10px 20px;
  position: relative;
  .del-depart {
	position: absolute;
	top: 20px;
	right: 18px;
  }
  .from-group {
	margin-bottom: 18px;
	.form-title {
	  width: 125px;
	  height: 30px;
	  line-height: 30px;
	  text-align: right;
	  color: #000000;
	  margin-right: 20px;
	  display: inline-block;
	}
	.form-control {
	  width: 150px;
	  height: 30px;
	  line-height: 30px;
	  margin-right: 10px;
	}
	.company-input {
	  min-width: 450px;
	  width: auto;
	}
	.role-explain {
	  width: 460px;
	  height: 58px;
	  outline: none;
	  line-height: normal;
	  border: 1px solid #dedede;
	  -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  text-indent: 1em;
	  padding: 5px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
	  word-break: break-all;
	  overflow: auto;
	  &:focus {
		border: 1px solid #cccccc
	  }
	}
	.form-trap {
	  font-weight: bold;
	  color: #000000;
	  display: inline-block;
	  vertical-align: top;
	  max-width: 460px;
	  word-break: break-all;
	}
	.download-wrap {
	  display: inline-block;
	  vertical-align: top;
	  margin-top: -2px;
	  max-width: 510px;
	}
	.file-download {
	  display: block;
	}
	.form-type {
	  color: #666666;
	}
	.edit-icon {
	  vertical-align: middle;
	  margin: 0 0 0 8px;
	  border: 3px solid transparent;
	}
	.requied {
	  height: 30px;
	  line-height: 30px;
	  color: #ed5564;
	}
	.btn-save {
	  color: #fe6e05;
	}
  }

}

.no-border {
  border-bottom: none;
}

.btn-wrap {
  padding-bottom: 20px;
}

.pop-btn {
  width: 90px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  background: #f9f9f9;
  margin-right: 18px;
  box-sizing: border-box;
}

.btn-submit {
  border: none;
  background: #ed5564;
  color: #ffffff;
}

.top-btn {
  margin-top: 20px;
}

.edit-company {
  vertical-align: middle;
  margin-right: 5px;
}

.opp-title {
  font-size: 16px;
  color: #333333;
  margin-left: 30px
}

.address-width {
  width: 500px;
}

.no-result {
  color: #ed5564;
}

.leader {
  /*width: 80px;*/
  border-left: 5px solid #2c85d3;
  margin-right: 6px;
}

.examine {
  width: 415px;
  height: 64px;
  padding: 5px;
  outline: none;
  border: 1px solid #dedede;
  border-radius: 4px;
  word-break: break-all;
  &:focus {
	border: 1px solid #cccccc
  }
}

.detail-custer-msg {
  width: 90%;
}

.opp-pop-detail {
  max-height: 600px;
  overflow-y: auto;
}

.up-btn {
  position: relative;
  width: 72px;
  height: 22px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
  border: 1px solid #cccccc;
  background: #f8f8f8;
  border-radius: 15px;
  .upload-file {
	width: 72px;
	height: 22px;
	position: absolute;
	top: 0;
	left: 0;
	filter: alpha(opacity=0);
	opacity: 0;
  }
}

.examine-people {
  margin-left: 150px;
  width: 75% !important;
  .exam-btn {
	width: 90px;
	height: 36px;
	line-height: 36px;
	display: inline-block;
	text-align: center;
	border: 1px solid #cccccc;
	background: #f8f8f8;
	border-radius: 4px;
	margin-right: 20px;
  }
  .choose-people {
	height: 36px;
	line-height: 36px;
	margin-right: 20px;
	margin-top: 5px;
	display: inline-block;
	text-align: center;
	position: relative;
	white-space: nowrap;
  }
  .end-exam {
	background: none;
	display: block;
	margin-top: 6px;
  }
}

.tree-relate {
  margin-top: 25px;
  width: 460px;
}

.tree-height {
  max-height: 216px;
  overflow: hidden;
}
